In [64]:
import pandas as pd
from sqlalchemy import create_engine

In [65]:
fertility_rates_csv = "Resources/fertility_rates.csv"
fertility_df = pd.read_csv(csv_file)
fertility_df.head()

,country_code,country_name,year,fertility_rate_15_19,fertility_rate_20_24,fertility_rate_25_29,fertility_rate_30_34,fertility_rate_35_39,fertility_rate_40_44,fertility_rate_45_49,total_fertility_rate,gross_reproduction_rate,sex_ratio_at_birth
0,SI,Slovenia,2036,8.5,60.2,112.0,86.3,32.0,8.8,3.7,1.5555,0.7529,1.0660
1,SI,Slovenia,2022,7.5,56.4,106.1,75.5,26.7,6.4,2.3,1.4110,0.6829,1.0661
2,SI,Slovenia,2023,7.6,56.5,106.6,76.2,27.2,6.6,2.4,1.4213,0.6879,1.0660
3,SI,Slovenia,2024,7.7,56.8,107.0,77.1,27.5,6.7,2.5,1.4316,0.6929,1.0660
4,SI,Slovenia,2025,7.7,56.9,107.4,78.0,27.7,6.9,2.6,1.4419,0.6979,1.0661

In [66]:
life_expectancy_csv = "Resources/life_expectancy.csv"
mortality_df = pd.read_csv(life_expectancy_csv)
mortality_df.head()

,country_code,country_name,year,infant_mortality,infant_mortality_male,infant_mortality_female,life_expectancy,life_expectancy_male,life_expectancy_female,mortality_rate_under5,mortality_rate_under5_male,mortality_rate_under5_female,mortality_rate_1to4,mortality_rate_1to4_male,mortality_rate_1to4_female
0,SI,Slovenia,2036,3.39,3.76,3.00,80.90,77.51,84.52,3.93,4.39,3.44,0.54,0.63,0.44
1,SI,Slovenia,2022,3.76,4.22,3.27,79.11,75.58,82.89,4.43,5.02,3.81,0.68,0.80,0.54
2,SI,Slovenia,2023,3.73,4.18,3.25,79.26,75.73,83.02,4.39,4.97,3.78,0.67,0.79,0.53
3,SI,Slovenia,2024,3.70,4.14,3.22,79.40,75.89,83.15,4.35,4.91,3.74,0.65,0.77,0.52
4,SI,Slovenia,2025,3.67,4.10,3.20,79.55,76.04,83.29,4.31,4.86,3.71,0.64,0.76,0.51

### Transform Fertility Rate DataFrame

In [67]:
fertility_df.head()

,country_code,country_name,year,fertility_rate_15_19,fertility_rate_20_24,fertility_rate_25_29,fertility_rate_30_34,fertility_rate_35_39,fertility_rate_40_44,fertility_rate_45_49,total_fertility_rate,gross_reproduction_rate,sex_ratio_at_birth
0,SI,Slovenia,2036,8.5,60.2,112.0,86.3,32.0,8.8,3.7,1.5555,0.7529,1.0660
1,SI,Slovenia,2022,7.5,56.4,106.1,75.5,26.7,6.4,2.3,1.4110,0.6829,1.0661
2,SI,Slovenia,2023,7.6,56.5,106.6,76.2,27.2,6.6,2.4,1.4213,0.6879,1.0660
3,SI,Slovenia,2024,7.7,56.8,107.0,77.1,27.5,6.7,2.5,1.4316,0.6929,1.0660
4,SI,Slovenia,2025,7.7,56.9,107.4,78.0,27.7,6.9,2.6,1.4419,0.6979,1.0661

In [78]:
#Creating a filtered dataframe through specific columns 
fertility_cols = ['country_name', 'year', 'total_fertility_rate', 'gross_reproduction_rate', 'sex_ratio_at_birth']
fertility_transformed = fertility_df[fertility_cols].copy()

#Renaming column headers 
fertility_transformed = fertility_transformed.rename(columns={'country_name': 'country', 'total_fertility_rate':'total fertility rate',
                                                             'gross_reproduction_rate': 'gross reproduction rate', 
                                                              'sex_ratio_at_birth':'sex ratio at birth'})
fertility_transformed.head()

SyntaxError: invalid syntax (<ipython-input-78-a4803009df59>, line 6)

### Transform Life Expectancy DataFrame

In [77]:
#Creating a filtered dataframe through specific columns 
mortality_cols = ['country_name', 'year', 'infant_mortality', 'life_expectancy', 'life_expectancy_male', 'life_expectancy_female']
mortality_transformed = mortality_df[mortality_cols].copy()

#Renaming column headers
mortality_transformed = mortality_transformed.rename(columns={'country_name':'country', 'infant_mortality': 'infant mortality', 
                                                             'life_expectancy_male': 'male life expectancy', 
                                                             'life_expectancy_female': 'female life expectancy',
                                                             'life_expectancy': 'life expectancy'})

mortality_transformed.head()

,country,year,infant mortality,life expectancy,male life expectancy,female life expectancy
0,Slovenia,2036,3.39,80.90,77.51,84.52
1,Slovenia,2022,3.76,79.11,75.58,82.89
2,Slovenia,2023,3.73,79.26,75.73,83.02
3,Slovenia,2024,3.70,79.40,75.89,83.15
4,Slovenia,2025,3.67,79.55,76.04,83.29

### Connect to local database

In [70]:
dbuser='postgres'
dbpassword='Mahi2018'
rds_connection_string = f"{dbuser}:{dbpassword}@localhost:5432/International_Census"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [71]:
# Confirm tables
engine.table_names()

[]